@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #EEEEEE !important;
  font-family: 'Open Sans', sans-serif;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}

.detail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  width: 80%;
  height: 50%;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 32px;
}

.detail-img {
  width: 60%;
  text-align: center;
  padding: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail-img img {
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  border-radius: 25px;
}

.detail-description {
  padding-left: 32px;
  width: 35%;
}

.product-condition {
  font-size: 16px;
  color: #979797;
  margin-bottom: 32px;
}

.product-brand {
  font-size: 16px;
  color: #979797;
  margin-bottom: 8px;
}

.product-retailer {
  font-size: 16px;
  color: #979797;
  margin-bottom: 32px;
}

.title {
  font-size: 32px;
  margin-bottom: 4px;
  font-weight: bold;
}

.price {
  font-size: 40px;
  margin-bottom: 4px;
}

.item-shipping-img {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.detail-btn {
  width: 100%;
  height: 50px;
  font-size: 18px;
  background-color: #30E257;
  border: none;
  color: #FFFFFF;
  padding: 8px;
  border-radius: 16px;
  font-weight: 500;
}

.detail-btn:hover {
  cursor: pointer;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.unidades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.inputUnidades {
  width: 40px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #444444;
  margin-left: 10px;
}

.inputUnidades :active {
  border: 1px solid #0bbdc4;
}

.title-description {
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 600;
}

.product-description {
  margin-top: 32px;
  width: 100%;
}

.description {
  font-size: 16px;
  text-align: justify;
  margin-top: -25px;
}

@media (max-width: 1265px) {
  .detail-container {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 40em) {
  .detail-img {
    width: 100%;
    text-align: center;
  }
  .detail-img img {
    width: 300px;
    height: 300px;
  }
  .detail-description {
    width: 100%;
    padding-left: 0;
  }
  .product-description {
    width: 100%;
  }
}

.detail-variants {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  text-align: center;
  padding: 15px;
}

.detail-variants img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-variants img:hover {
  cursor: pointer;
  opacity: 0.9;
}

.input-units-conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
}

.input-units-conatiner img {
  width: 25px;
  height: 25px;
}

.input-units-conatiner input {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
/*# sourceMappingURL=itemInfo.css.map */