.cart-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 10px;

}


.cart-img img {

    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 14px;
}

.cart-img img :hover {

    cursor: pointer;

}


.cart-detail {
    width: 40%;
    padding-left: 16px;
    margin-top: 16px;
    word-break: break-all;
}

.cart-detail:hover {
    cursor: pointer;
}




.cart-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
}

.cart-price p {

    justify-content: center;
    text-align: center;
    font-size: 24px;

}

 

.cart-title {
    margin-top: 32px;
    font-size: 18px !important;
    color: #666666;
}


.cart-city {
    margin-top: 16px;
    margin-right: 32px;
    margin-left: auto;
    font-size: 12px;
    color: #999999;
}


.cart-unidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    margin: auto;
}


.cart-total {
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 15px;
}

.cart-total h3 {
    font-size: 20px;
    margin-left: auto;
    font-weight: 500;
}

.btn-continuar {
    width: 100%;
    background-color: #3483FA;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.btn-continuar:hover {
    background-color: #2E75E0;
    transition: 0.5s;
}

.cart-delete img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.cart-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    margin: auto;
}


.cart-retailer {
    font-size: 15px;
    font-style: italic;
}